<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
<!--  	 <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!--   	<property name="hibernate.connection.password">54321</property> -->
<!--  	 <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/star_up?useUnicode=yes&amp;characterEncoding=utf8&amp;useSSL=false</property> -->
<!--  	 <property name="hibernate.connection.username">root</property> -->
 	 <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
<!-- 定義程式交易管理的類型，本範例使用JDBC Transaction -->
		
		
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<!-- hibernate 相關效能設定 -->
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="connection_pool_size">1</property>

  <property name="hbm2ddl.auto">update</property>
<!--   <property name="hibernate.current_session_context_class">thread</property>   -->
  <property name="show_sql">true</property>
  <property name="format_sql">true</property>
<!--   <mapping class="_01_register.model.UserBean"/> -->
 </session-factory>
</hibernate-configuration>
